TAURI_SIGNING_PRIVATE_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5ak1hL1UxSk5aYlNFVVE5RFNWZU04TkFTMFNXY0trVDZScmkzaXBHd3ZRY0FBQkFBQUFBQUFBQUFBQUlBQUFBQUYzWlYvRjlkdDEyWmUrQkthbyswM1JaQ0t5TngyWFJCM2hRN0pFd2dFSXBLTU1JdjZxRVFScHRJUnl1WVB0aWhtVGhTZG9uc0I5U2R0UW9yT1NoOTFubDZyZWNYWmlrSVgzZkJnNFg3RFpNS2xQd1pQdWp1YXBWOWNPTWp6NlZBZ21mYzVRSE9mVk09Cg==
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=1
URL_APP_SCRIPT=https://script.google.com/macros/s/AKfycbx7ZPwo1x_T2WLkgDyDA-gg9-vNxnQHS0eHlE4KNoCjCxcDP2lh8qoj_h6CbaRcgtu8/exec
URL_APP_SCRIPT_DEV=https://script.google.com/macros/s/AKfycbxWdc8_nVk7A90syOQ8GFkeOtz2Q2C9hN6zeEiEdbCftDf0PIjHFaYE6G8RwVt1FQFD/exec