TAURI_SIGNING_PRIVATE_KEY=dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5ak1hL1UxSk5aYlNFVVE5RFNWZU04TkFTMFNXY0trVDZScmkzaXBHd3ZRY0FBQkFBQUFBQUFBQUFBQUlBQUFBQUYzWlYvRjlkdDEyWmUrQkthbyswM1JaQ0t5TngyWFJCM2hRN0pFd2dFSXBLTU1JdjZxRVFScHRJUnl1WVB0aWhtVGhTZGdoB9SdtQorOSh91nL6recXZikIX3fBg4X7DZMKlPwuPujuapV9cOMjz6VAgmf5QHOFVfO=
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=1
VITE_APP_SCRIPT_URL=https://script.google.com/macros/s/AKfycbx7ZPwo1x_T2WLkgDyDA-gg9-vNxnQHS0eHlE4KNoCjCxcDP2lh8qoj_h6CbaRcgtu8/exec